{
  "presets": [
    "_node_modules_path/babel-preset-env"
  ],

  "plugins": [
  	"_node_modules_path/babel-plugin-transform-runtime",
  	"_node_modules_path/babel-plugin-transform-object-rest-spread"
  ],
  "comments": false
}